<h1 class="display-4 mb-5">Agregar nueva canción</h1>
<form [formGroup]="songForm">
    <div class="row">
        <div class="form-group col">
          <label for="title">Título:</label>
          <input type="text" class="form-control col-6" id="title" formControlName="title"/>
        </div>
      
        <div class="form-group col">
          <label for="artist">Artista:</label>
          <input type="text" class="form-control" id="artist" formControlName="artist"/>
        </div>
    </div>
  
    <div class="row">
        <div class="form-group col">
          <label for="key">Tono:</label>
          <select class="form-control" id="key" formControlName="key">
            <option *ngFor="let key of keys" [value]="key">{{key}}</option>
          </select>
        </div>
      
        <div class="form-group col">
          <label for="tempo">Tempo:</label>
          <input type="number" class="form-control" id="tempo" formControlName="tempo"/>
        </div>

        <div class="form-group col">
            <label for="compass">Compás:</label>
            <select class="form-control" id="compass" formControlName="compass">
                <option *ngFor="let compass of compasses" [value]="compass">{{compass}}</option>
            </select>
          </div>

        <div class="form-group col-6">
            <label for="mainVoice">Voz Principal:</label>
            <select class="form-control" id="mainVoice" formControlName="mainVoice">
              <option *ngFor="let mainVoice of singers" [value]="mainVoice">{{mainVoice}}</option>
          </select>
        </div>
    </div>
  
    <div class="form-group">
      <label for="chordsUrl">URL de Acordes:</label>
      <input type="url" class="form-control" id="chordsUrl" formControlName="chordsUrl" />
    </div>
  
    <div class="form-group">
      <label for="lyricsUrl">URL de Letras:</label>
      <input type="url" class="form-control" id="lyricsUrl" formControlName="lyricsUrl"/>
    </div>
  
    <div class="form-group">
      <label for="videoUrl">URL de Video:</label>
      <input type="url" class="form-control" id="videoUrl" formControlName="videoUrl"/>
    </div>

    <div class="form-group mt-3">
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <button type="button" (click)="onSubmit($event)" class="btn btn-primary">Agregar Canción</button>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>
  </form>
  
