<header class="d-flex justify-content-between mb-3">
    <h1 class="display-4">Repertorio</h1>
    <div class="btn-group" role="group" aria-label="Cambiar tipo de vista">
        <button type="button" class="btn btn-secondary text-white" title="Ver listado" routerLink="/songs-book" routerLinkActive="active">
            <span><i class="fa-solid fa-list-ul"></i></span>
        </button>
        <button type="button" class="btn btn-secondary text-white" title="Ver detalle" routerLink="/songs-book-grid" routerLinkActive="active">
            <span><i class="bi bi-grid-fill"></i></span>
        </button>
    </div>
</header>
