.change-view-link {
    display:inline-block;
    color: var(--bs-nav-link-color);
    font-size: medium;
    text-decoration: none;

    :hover {
        color: var(--bs-nav-link-hover-color);
    }
}