:host {
    display: grid;
    grid-template-areas: 'header header header'
                         'main main main'
                         'footer footer footer';
}

.header {
    grid-area: header;
}

.container {
    grid-area: main;
}

.sidebar {
    display: none;
    grid-area: aside;
}

.footer {
    grid-area: footer;
}

@media(min-width: 720px){
    .sidebar {
        display: block;
    }
}

@media(max-width: 720px){
    .sidebar {
        display: none;
    }
}