.card {
    max-width: 300px;
    padding: 10px;

    .card-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .video-card {
        margin: auto;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .song-card-buttons {
        display: flex;
        justify-content: start;
        column-gap: 10px;
    }
}